<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<div class="row">
		<div class="about_intro">
			<h3>This rails app is for learning different techs and features that can be added.</h3>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<h3>Techs being used in this app are:</h3>
			<div class="about_content">
				<ul>
					<li>Ruby on Rails web dev framework for Application Development</li>
					<li>Git for SCM</li>
					<li>PostgreSQL and SQLite as DB</li>
					<li>Heroku for production deployment</li>
					<li>Jenkins for CI/CD</li>
					<li>AWS for Jenkins hosting</li>
				</ul>
			</div>
			<div class="about_bottomline">
				<h3> It will be updated as applications development progresses</h3>
			</div>
		</div>
	</div>
</body>
</html>