<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="http://www.shivamsaxena.com">Developed by Shivam Saxena</a>
		</small>
			<nav>
			<ul>
				<li><%= link_to 'About', welcome_about_path %></li>
			</ul>	
			</nav>
	</footer>
</div>